<html>
    <head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
        <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    
        <script>
            var example = angular.module("example", ["ngStorage"]);
            example.controller("ExampleController", function($scope, $localStorage) {
 
                $scope.save = function() {
                    $localStorage.message = "This is local storage";
                }
 
                $scope.load = function() {
                    $scope.data = $localStorage.message;
                }
 
            });
        </script>
    </head>
    <body ng-app="example" style="background:linear-gradient(90deg,red,white)" >
      <div align="center" style="margin-top: 200px;border:3px solid;margin-left: 400px;margin-right: 400px;background-color:#fff">
  		<h3 style="font-size:40px;">Local storage Example</h3>       
        <div style="margin-top:60px" ng-controller="ExampleController">
          <button ng-click="save()" type="button" class="btn btn-primary">Click </button>
          <button ng-click="load()" type="button" class="btn btn-success">To see</button>
            
            <br>
            {{data}}
        </div>
        </div>
    </body>
</html>